<%= form_for @user,url: '/access/new_password',method: :post do |f| %>
	
	<% if @user.errors.any? %>
		<alert type="danger forever">
		<ul>
		<% @user.errors.each do |field,message| %>
			<li><%= field %> <%= message %></li>
		<% end %>
		</ul>
		</alert>
	<% end %>

	<%= f.hidden_field :token %>

	<div class="form-group">
		<%= f.password_field :password,class: 'form-control',placeholder: 'New Password' %>
	</div>
	<div class="form-group">
		<%= f.password_field :password_confirmation,class: 'form-control',placeholder: 'Confirm New Password' %>
	</div>
	<div class="form-group">
		<%= f.submit 'Submit',class: 'btn btn-default' %>
	</div>

<% end %>
<%= link_to 'Login',login_path %>