<ol class="breadcrumb">
	<li><a href="#/">Home</a></li>
	<li class="active">My Account</li>
</ol>

<table class="myaccount-table">
	<tr>
		<th><h3>Profile Picture</h3></th>
		<th><h3>Personal Information</h3></th>
	</tr>
	<tr>
		<td>
			<img src="http://irapcity.com/images/image5.png" />
			<div><button class="btn btn-default">Change Photo</button></div>
		</td>
		<td>

			<% field = 'name' %>
			<div class="form-group callback">
				<input ng:model="current_user.<%= field %>" onenter="current_user.update('<%= field %>',current_user.<%= field %>)" ng:blur="current_user.update('<%= field %>',current_user.<%= field %>)" type="text" class="form-control" placeholder="Full Name" />
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
			</div>

			<% field = 'email' %>
			<div class="form-group callback">
				<input ng:model="current_user.<%= field %>" onenter="current_user.update('<%= field %>',current_user.<%= field %>)" ng:blur="current_user.update('<%= field %>',current_user.<%= field %>)" type="text" class="form-control" placeholder="Email" />
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
			</div>

			<% field = 'phone' %>
			<div class="form-group callback">
				<input ng:model="current_user.<%= field %>" onenter="current_user.update('<%= field %>',current_user.<%= field %>)" ng:blur="current_user.update('<%= field %>',current_user.<%= field %>)" type="text" class="form-control" placeholder="Phone Number" />
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
			</div>

			<label>Birthdate:</label>
			<div class="form-group callback">
				<div class="table-div">
					<% field = 'birth_month' %>
					<div class="table-div-item" ng:init="month = months[current_user.<%= field %>-1]">
						<select class="form-control" ng:model="month" ng:options="opt.long for opt in months" ng:change="current_user.<%= field %> = month.number+1;current_user.update('<%= field %>',current_user.<%= field %>)">
							<option value="" ng:if="!current_user.<%= field %>">Month</option>
						</select>
					</div>
					<% field = 'birth_date' %>
					<div class="table-div-item">
						<select class="form-control" ng:model="current_user.<%= field %>" ng:options="opt for opt in <%= 31.times.to_a.drop(1).push(31).to_json %>" ng:change="current_user.update('<%= field %>',current_user.<%= field %>)">
							<option value="" ng:if="!current_user.<%= field %>">Day</option>
						</select>
					</div>
					<% field = 'birth_year' %>
					<div class="table-div-item">
						<%= select_tag 'birth_year',options_for_select(((Time.now.year-100)..Time.now.year).to_a.reverse),class: 'form-control','ng:model' => 'current_user.birth_year','ng:change' => "current_user.update('birth_year',current_user.birth_year)" %>
					</div>
				</div>

				<% field = 'birth_month' %>
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
				<% field = 'birth_date' %>
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
				<% field = 'birth_year' %>
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>

			</div>

			<% field = 'address' %>
			<div class="form-group callback">
				<input ng:model="current_user.<%= field %>" onenter="current_user.update('<%= field %>',current_user.<%= field %>)" ng:blur="current_user.update('<%= field %>',current_user.<%= field %>)" type="text" class="form-control" placeholder="Address" />
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
			</div>

			<% field = 'city' %>
			<div class="form-group callback">
				<input ng:model="current_user.<%= field %>" onenter="current_user.update('<%= field %>',current_user.<%= field %>)" ng:blur="current_user.update('<%= field %>',current_user.<%= field %>)" type="text" class="form-control" placeholder="City" />
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
			</div>

			<% field = 'state' %>
			<div class="form-group callback">
				<input ng:model="current_user.<%= field %>" onenter="current_user.update('<%= field %>',current_user.<%= field %>)" ng:blur="current_user.update('<%= field %>',current_user.<%= field %>)" type="text" class="form-control" placeholder="State" />
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
			</div>

			<% field = 'zip_code' %>
			<div class="form-group callback">
				<input ng:model="current_user.<%= field %>" onenter="current_user.update('<%= field %>',current_user.<%= field %>)" ng:blur="current_user.update('<%= field %>',current_user.<%= field %>)" type="text" class="form-control" placeholder="ZIP / Postal Code" />
				<div class="callback-item" ng:if="current_user.loading.<%= field %>">
					<div class="" ng:class="{'icon_loading':current_user.loading.<%= field %>==1,'icon_saved':current_user.loading.<%= field %>==2,'icon_error':current_user.loading.<%= field %>==3}"></div>
				</div>
			</div>

			<h3>Social Accounts</h3>
			<ul class="social-list" ng:repeat="social in socials.list | orderBy:'created_at'">
				<li>
					<div class="social-list-wrap">
						<div class="social-list-item">
							<button class="btn btn-danger btn-xs" ng:class="{'DISABLE':social.loading}" ng:click="social.delete()">Remove</button>
						</div>
						<div class="social-list-item">
							<a href="{{social.uri}}" target="_blank">{{social.uri}}</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="form-group">
				<input ng:model="new_social.uri" onenter="saveSocial()" type="text" class="form-control" ng:disabled="new_social.loading" placeholder="Add Social Account" />
			</div>

		</td>
	</tr>
</table>