<!DOCTYPE html>
<html ng:app="App" ng:controller="Ctrl">
<head>
	<script type="text/javascript">var current_user = <%= current_user.to_json(except: :password_digest).html_safe %>;</script>
	<link rel="shortcut icon" href="<%= asset_path 'logo-v2.png' %>" />
	<title><%= TITLE %></title>
	<%= stylesheet_link_tag    'application' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="header">

		<div class="container">

			<div class="dashboard-nav">

				<div class="dashboard-nav-item">
					<a href="/" class="logo"></a>
				</div>
				<div class="dashboard-nav-item">
					
					<ul class="dashboard-nav-bar">
						<li class="nav-bar-item">
							<a class="nav-bar-link" href="/">Home</a>
						</li>
						<li class="nav-bar-item">
							<a class="nav-bar-link" href="#/people">Find People</a>
						</li>
						<li class="nav-bar-item">
							<a class="nav-bar-link" href="">FAQ</a>
						</li>
						<li class="nav-bar-item">
							<a class="nav-bar-link" href="">Support</a>
						</li>
						<li class="nav-bar-item">
							<span class="dropdown" dropdown>
								<a href class="dropdown-toggle" dropdown-toggle>
									<span class="glyphicon glyphicon-user"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#/myaccount">My&nbsp;Account</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/access/logout">Logout</a>
									</li>
								</ul>
							</span>
							<!-- <a href="#/myaccount" class="myaccount">
								<div class="arrow">
									<span class="glyphicon glyphicon-user"></span>
								</div>
							</a> -->
						</li>
					</ul>

				</div>

			</div>

		</div>

	</div>

	<div class="body">

		<div class="container">

			<% flash.each do |type,message| %>
				<alert type="<%= type %>"><%= message %></alert>
			<% end %>
			
			<div ng:view></div>

		</div>

	</div>

</body>
</html>