<!DOCTYPE html>
<html ng:app="App" ng:controller="Ctrl">
<head>
	<link rel="shortcut icon" href="<%= asset_path 'logo-v2.png' %>" />
	<script type="text/javascript">var current_user = null;</script>
	<title><%= TITLE %></title>
	<%= stylesheet_link_tag    'splash' %>
	<%= javascript_include_tag 'splash' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="header">

		<div class="container">

			<div class="splash-nav">

				<div class="splash-nav-item">
					<a href="/" class="logo"></a>
				</div>
				<div class="splash-nav-item">
					
					<%= form_tag login_path,class: 'form-inline' do |f| %>

					<div class="form-group"><%= text_field_tag :email,nil,class: 'form-control',placeholder: 'Email' %></div>
					<div class="form-group"><%= password_field_tag :password,nil,class: 'form-control',placeholder: 'Password' %></div>
					<%= submit_tag 'Log In',class: 'btn btn-primary' %>

					<% end %>

				</div>

			</div>

		</div>

	</div>

	<div class="body">

		<div class="container">

			<% flash.each do |type,message| %>
				<alert type="<%= type %>"><%= message %></alert>
			<% end %>

			<%= yield %>

		</div>

	</div>

</body>
</html>